footer.footer {
  background-color: var(--color-gray-100);
  color: var(--color-gray-10);
  font-size: 14px;
  line-height: var(--footer-line-height);
  /* padding: 1.5rem; */
  height: 0;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}
